.modal__text--container{
    display: block;
    margin: auto;
    text-align: left;
    border-radius: 3px;
    height: 170px;
    width: 400px;
}

.modal__title {
    display: block;
    margin: auto;
    flex-direction: column;
    align-items: center;
    height: 55px;
    width: 85%;
    border: none;
    border-radius: 3px;
}

.modal__input {
    display: block;
    margin: auto;
    flex-direction: column;
    align-items: center;
    height: 55px;
    width: 85%;
    border: none;
    border-radius: 3px;

}

.modal__text--button{
    display: flex;
    justify-content: flex-end;
}

.text__logo{
    font-size: 28px;
}
