.navbar__placeholder {
 position: sticky;
 display: block;
 top: 0;
 z-index: 100;
 border-bottom: 1px solid rgba(255, 255, 255, 0.3);
 height: 100px;
 width: 100%;

}



.dashboard__container {
    display: flex;
    max-width: 990px;
    width: 100%;
    padding: 0 8px;
    box-sizing: border-box;
    margin: 40px auto 0;
}
