body{
    background-color: #5CDB95;
}
.dashboard__container {
    display: flex;
    justify-content: center;
    max-width: 990px;
    width: 100%;
    padding: 0 8px;
    box-sizing: border-box;
    margin-top: 100px;
    margin: 40px auto 0;
    /* background-color: black; */
}

.content__container {
    width: 100%;
    max-width: 625px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 80px;
}
.content__container--inner{
    max-width: 540px;
    width: 100%;
    height: 100%;
}

.content__container--posts {
    display: flex;
    position: relative;
    box-sizing: border-box;
    padding: 15px 5px;
    min-height: 100px;
    border-radius: 3px;
    margin: auto;
    background-color: #05386B;
    color: white;
}

.content__post--types {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #05386B;

}

.post__types{
    list-style-type: none;
    width: 100%;

}

.content__feed {
    width: 100%;
}

.post__button {
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    font-size: 16px;
}

.post__button--photo {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-weight: 700;
}

.user__div {
    color: white;
}

.post__div{
    color: white;
}
