.post__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(39, 38, 38);
    /* border: 2px dashed green; */
    box-sizing: border-box;
    border-radius: 3px;
    margin: 10px 0;
    min-height: 250px;
    width: 100%;

}

.post__title--container {
    display: block;
    box-sizing: border-box;
    /* border: 2px solid red; */
    border-radius: 3px;
    width: 90%;
    border-bottom:1px solid rgb(102, 100, 100);
    /* margin-left: 2px; */
    color: rgb(146, 145, 145);
}

.post__content--container {
    display: block;
    box-sizing: border-box;
    /* border: 2px solid black; */
    border-radius: 3px;
    width: 100%;
    margin-bottom: 30px;
    margin-left: 25px;
    color: rgb(146, 145, 145);
}
