
.form-container{
    /* margin-top: -129px; */
    position: relative;
    top: 50%;
    display: block;
    padding: 20px 30px 30px;


}
.login_form {
 font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
 font-size: 16px;
 line-height: 22.4px;
 text-align: start;
 display:flex;
 justify-content: center;
 margin-top: 100px;

}
.header{
    display: flex;
    justify-content: center;
    color: #EDF5E1;
    font-size: 50px;
}
.user{
    background-color: #EDF5E1;
    width: 300px;
    height: 40px;
    padding: 11px 10px 11px 13px;
    box-sizing: border-box;
    border: none;
    outline: 0;
    margin-bottom: 2px;
    color: #05386B;
}

.user::placeholder{
    color: #05386B;
}

.password::placeholder{
    color: #05386B;
}
.password{
    background-color: #EDF5E1;
    padding: 11px 10px 11px 13px;
    width: 300px;
    height: 40px;
    box-sizing: border-box;
    border: none;
    outline: 0;
    color: #05386B;
}

.submit{
    background-color: #05386B;
    width: 298px;
    height: 45px;
    width: 100%;
    color: #EDF5E1;
    margin-top: 8px;
    font-size: 16px;
    box-sizing: border-box;
    border: none;
}

.errors {
    margin-top: 200px;
    display: block;
    /* justify-content: center; */
    text-align: start;
    /* padding: 14px 15px; */
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 16px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.55);
    border: 0;
    margin: 0;

}

.error:active{
    display: flex;
    color: #fff;
    text-align: start;
}
