.nav__ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    border-radius: 1.5%;
    width: auto;
}

.nav__li a{
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}
