/* .nav__ul {
    position: absolute;
    top: 0;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: transparent;
    border-radius: 1.5%;
    width: 100%;
}

.nav__li a{
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
}

li a:hover {
    background-color: black;
} */

.header__container{
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    border: none;
}
.header__navBar {
    display: flex;
    align-items: center;
    height: 54px;
    width: 100%;
    margin: auto;
    padding-left: 22px;
    padding-right: 20px;
    box-sizing: border-box;
    justify-content: space-between;
}
.navBar__home {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    max-width: 518px;
    font-weight: bold;
    text-decoration: none;
}
.navBar__logo {
    padding: 11px 18px 8px 0;
    width: 20;
    height: 33;
}
.navBar__search {
    position: relative;
    width: 100%;
}
.navBar__session{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav__button--login {
    font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    padding: 6px 15px;
    color: black;
    background-color:#00cf35;
    box-sizing: border-box;
    border-radius: 3px;
    margin-right: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
}
.nav__button--signup {
    font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    padding: 6px 15px;
    color: black;
    background-color:  #00b8ff;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    margin-right: 100px;
}
.letter__logo{
    font-size: 40px;
    font-weight: 700 bold;
    margin-left: 100px;
    color: white;
}

.nav__search{
    height: 23px;
    width: 200px;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    background-color: rgba(0, 0, 0, .25);
    border: none;
    outline: none;
}

.nav__search--button{
    height: 28px;
    width: 35px;
}

.nav__search:active{
    background-color:rgba (255, 255 255, 0.7);
}

.profile-dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50px;
    right: 10px;
    height:400px;
    width: 200px;
    background-color: lightgray;
}

.li__user--name{
    color: white;
}

.fas.fa-portrait{
    font-size: 20px;
}

.top__dropdown--container{
    display: flex;
    justify-content: space-between;
    color: white;
    height: 50px;
    width: 100%;
}
